<p id="notice"><%= notice %></p>

<p>
  <strong><%= Restaurant.human_attribute_name(:name) %>:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <%= t(".clients", count: @restaurant.client_count) %>
</p>
<p>
  <strong><%= Restaurant.human_attribute_name(:created_at) %>:</strong>
  <%= l(@restaurant.created_at.to_date, format: :short) %>
</p>

<% if policy(@restaurant).edit? %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<% end %>
<%= link_to 'Back', restaurants_path %>
